.topbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#toplogo {
    width: 80px;
    margin: 0 80px 0 0;
}

h3 {
    display: block;
    text-align: left;
  }

.topimages {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
}
#topImagel {
    width: 18%
}
#topImagem {
    width: 32%
}
#topImager {
    width: 18%
}

.bottomArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#startBtn {
    margin-top: 10px;
    width: 280px;
    height: 40px;
    border-radius: 8px;
    background-color: #f1968c;
    color: white;
    font-size: 16px;
    text-align: center;
    border: white;
}

.topmenu {
    width: 100vw;
    height: 6%;
    padding: 0;
    margin: 0;
    background-color: #e6d3d1;
}
.menuUl {
    margin: 10px 0 50px -40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menult {
    margin-top: 10px;
    width: 280px;
    height: 40px;
    border-radius: 8px;
    background-color: #a0726d;
    color: white;
    font-size: 20px;
    text-align: center;
    border: white;
}

/* Calendar */
.calendar {
    margin-top: 40px;
}
.calMain {
    width: 440px;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    height: 660px;
    margin-right: 20px;
}
.menuName {
    width: 100%;
    text-align: left;
    margin-left: 10px;
}
svg {
    margin-right: 20px;
}
/* Input */
.inputArea {
    width: 900px;
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
    height: 720px;
}

.resArea {
    height: 620px;
    /* padding-top: 20px; */
}
.inputText {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e6d3d1;
}

textarea {
    height: 40px;
    border: 1px solid #f1968c;
    transition: border-color 0.3s;
    border-radius: 12px;
    font-size: 18px;
    padding: 5px;
}
textarea:focus {
    border: 1px solid #f1968c;
    outline: none;
}
textarea:hover {
    border: 1px solid #f1968c;
}

.writeBtn {
    background-color: #f1968c;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #f1968c;
    outline: none;
}

.writeBtn:focus {
    border: 1px solid #f1968c;
    outline: none;
}

.writeBtn:hover {
    border: 1px solid #f1968c;
    outline: none;
}

.firstArea {
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
}

.secondArea {
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
}

.thirdArea {
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
}

#greeting_info {
    background-color: #f1968c;
    color: white;
    font-size: 18px;
    padding: 20px;
    border-radius: 12px;
    align-self: flex-start;
}

#text_info {
    background-color: white;
    color: #1a39a9;
    font-weight: 1000;
    font-size: 20px;
    padding: 20px;
    border-radius: 12px;
    align-self: flex-end;
}

.fade-in {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1s ease-in-out, transform 3s ease-in-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* Apply initial styles for hidden state */
.slow-in {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

/* Apply styles when the 'show' class is added */
.slow-in.show {
    opacity: 1;
    transform: translateY(0);
}


/* History */
#history_info {
    background-color: white;
    color: #1a39a9;
    font-weight: 1000;
    font-size: 20px;
    padding: 20px;
    border-radius: 12px;
    align-self: flex-end;
    margin: 30px 0;
    text-align: left;
}

.pageBtn {
    background-color: #f1968c;
    color: white;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #f1968c;
    outline: none;
}

/* Calendar */
.calendar {
    padding: 0 40px;
    margin-right: 100px;
}

.react-calendar,
.react-calendar__month-view {
    background-color: #fff2ec;
}

.react-calendar__navigation {
    background-color: #fff2ec;
    margin: 0;
}

.react-calendar__tile--active {
    background-color: #fff2ec;
    color: white;
}

.react-calendar__tile--now {
    background-color: #fff2ec;
}

/* Remove outline from the calendar */
.react-calendar,
.react-calendar:focus,
.react-calendar * {
    outline: none !important;
    border: none !important;
}

/* Optional: Remove border from the active date tile */
.react-calendar__tile--active {
    border: none !important;
}

/* Modal */
.summaryModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.summaryContent {
    width: 80%;
    background-color: #e6d3d1;
    color: #1a39a9;
    font-size: 40px;
    padding: 20px;
}

#closeBtn {
    background-color: #f1968c;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #f1968c;
    outline: none;
}

#closeBtn:focus {
    border: 1px solid #f1968c;
    outline: none;
}

#closeBtn:hover {
    border: 1px solid #f1968c;
    outline: none;
}