.topbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar h3 {
    color: white;
}

#toplogo {
    width: 80px;
    margin: 0 80px 0 0;
}

h3 {
    display: block;
    text-align: left;
  }

.topimages {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
#topImagel {
    width: 18%
}
#topImagem {
    width: 32%
}
#topImager {
    width: 18%
}

.bottomArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottomArea p {
    color: white;
}
#startBtn {
    margin-top: 10px;
    width: 280px;
    height: 40px;
    border-radius: 8px;
    /* background-color: #f1968c; */
    background-color: rgba(255, 99, 132, 1);
    color: white;
    font-size: 20px;
    text-align: center;
    /* border: white; */
    border: 1px solid #f1968c;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.topmenu {
    width: 100vw;
    height: 6%;
    padding: 0;
    margin: 0;
    background-color: #e6d3d1;
}
.menuUl {
    margin: 10px 0 50px -40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menult {
    margin-top: 10px;
    width: 280px;
    height: 40px;
    border-radius: 8px;
    /* background-color: #a0726d; */
    background-color: #431c79;
    color: white;
    font-size: 20px;
    text-align: center;
    /* border: 1px solid white; */
    border: solid 1px  #dacbef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Calendar */
.calMain {
    width: 440px;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    height: 660px;
    margin-right: 20px;
}
.menuName {
    width: 100%;
    text-align: left;
    margin-left: 10px;
}
svg {
    margin-right: 20px;
}
/* Input */
.inputArea {
    width: 900px;
    padding: 0;
    margin: 0;
    height: 660px;
}

.resArea {
    height: 620px;
}
.inputText {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

textarea {
    height: 40px;
    border: 1px solid #f1968c;
    transition: border-color 0.3s;
    border-radius: 12px;
    font-size: 18px;
    padding: 5px;
}
textarea:focus {
    border: 1px solid #f1968c;
    outline: none;
}
textarea:hover {
    border: 1px solid #f1968c;
}

.writeBtn {
    /* background-color: #f1968c; */
    background-color: rgba(255, 99, 132, 1);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #f1968c;
    /* outline: none; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.writeBtn:focus {
    border: 1px solid #f1968c;
    outline: none;
}

.writeBtn:hover {
    border: 1px solid #f1968c;
    outline: none;
}

.firstArea {
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
}

.secondArea {
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
}

.thirdArea {
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
}

#greeting_info {
    /* background-color: #f1968c; */
    background-color: rgba(255, 99, 132, 1);
    border: 1px solid #f1968c;
    color: white;
    font-size: 18px;
    padding: 20px;
    border-radius: 12px;
    align-self: flex-start;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#text_info {
    background-color: white;
    color: #1a39a9;
    font-weight: 1000;
    font-size: 20px;
    padding: 20px;
    border-radius: 12px;
    align-self: flex-end;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.fade-in {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1s ease-in-out, transform 3s ease-in-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

.slow-in {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.slow-in.show {
    opacity: 1;
    transform: translateY(0);
}


/* History */
#history_info {
    background-color: white;
    color: #1a39a9;
    font-weight: 1000;
    font-size: 20px;
    padding: 20px;
    border-radius: 12px;
    align-self: flex-end;
    margin: 30px 0;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.pageBtn {
    /* background-color: #f1968c; */
    background-color: rgba(255, 99, 132, 1);
    color: white;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #f1968c;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 5px;
}

/* Calendar */
.calendar {
    width: 320px;
    margin-top: 40px;
    padding: 0;
    margin-right: 100px;
    margin-left: -100px;
}

#calendar_info {
    background-color: white;
    color: #1a39a9;
    font-weight: 1000;
    font-size: 20px;
    padding: 20px;
    border-radius: 12px;
    align-self: flex-end;
    margin: 30px 0;
    text-align: left;
    height: 400px
}

/* Books */
.book {
    position: absolute;
    top: 45%;
    left: 60%;
    width: 500px;
    height: 600px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    perspective: 1200px;
  }

  .book-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #f1968c, #ffffff, #f1968c);
    transform-origin: left center;
    transform: rotateY(0deg);
    transition: transform 1s;
  }

  .book.open .book-cover {
    transform: rotateY(270deg);
  }
  
  .book-text {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    line-height: 2.0;
  }

/* React calendar (SideCalendar) */
.react-calendar {
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #c9adfd;
}

.react-calendar,
.react-calendar__month-view {
    background-color: #c9adfd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.react-calendar__navigation {
    background-color: #c9adfd;
    margin: 0;
    margin-bottom: 0;
}

.react-calendar__tile--active {
    background-color: #c9adfd;
    color: white;
}

.react-calendar__tile--now {
    background-color: #c9adfd;
}

/* Remove outline from the calendar */
.react-calendar,
.react-calendar:focus,
.react-calendar * {
    outline: none !important;
    border: none !important;
    background-color: #c9adfd;
}

/* Optional: Remove border from the active date tile */
.react-calendar__tile--active {
    border: none !important;
    background-color: #c9adfd;
}

/* Modal */
.summaryModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.summaryContent {
    width: 80%;
    background-color: #e6d3d1;
    color: #1a39a9;
    font-size: 40px;
    padding: 20px;
}

#closeBtn {
    /* background-color: #f1968c; */
    color: white;
    font-size: 20px;
    font-weight: 600;
    /* border: 1px solid #f1968c; */
    background-color: rgba(255, 99, 132, 1);
    border: 1px solid #f1968c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    outline: none;
}

#closeBtn:focus {
    border: 1px solid #f1968c;
    outline: none;
}

#closeBtn:hover {
    border: 1px solid #f1968c;
    outline: none;
}

/* Stats */
canvas {
    width: 300px;
    height: 300px;
}

.piechart {
    margin-top: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    width: 90vw;
}

.feedback {
    color: white;
    margin-left: 100px;
    font-size: 24px;
    width: 250px;
    padding: 40px;
    border-radius: 10px;
    background: radial-gradient(#4e1aa9, #916fd0);
}