#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* Main */
.Main {
  display: flex;
  height: 100vh;
}
/* InputComponent */
/* .inputArea {
  background-color: #f1968c;
  color: white;
  text-align: left;
} */